<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessAI - עמוד ראשי</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('about') }}">אודות</a></li>
                    <li><a href="{{ url_for('login') }}">כניסת משתמש</a></li>
                    <li><a href="{{ url_for('sign_Up') }}">הרשמה</a></li>
                    <li><a href="{{ url_for('home') }}">עמוד ראשי</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <main id="app">

        <div class="logo-container">
            <img src="/static/Logos/chessLogo.png" alt="App Logo" class="app-logo">
        </div>
        
        <div class="title-container">
            <h1 class="title">ChessAI - עמוד ראשי</h1>
            <p>ברוך הבא! בחר אפשרות:</p>
        </div>

        <div class="buttons-container">
            <a href="/play_online" class="play-button" id="play-online" @mouseover="animateButton($event)" @mouseleave="resetButton($event)">
                <span class="button-content">
                    <img src="https://img.icons8.com/ios/50/000000/worldwide-location.png" alt="Online" class="icon">
                    לשחק אונליין
                </span>
            </a>
            <a href="/play_bot" class="play-button" id="play-bot" @mouseover="animateButton($event)" @mouseleave="resetButton($event)">
                <span class="button-content">
                    <img src="/static/Logos/chatbot.png" alt="Bot" class="icon">
                    לשחק נגד בוט
                </span>
            </a>
        </div>
    </main>

    <footer>
        <ul>
            <li><a href="{{ url_for('login') }}" class="login-link">כניסת משתמש</a></li>
            <li><a href="{{ url_for('sign_Up') }}"class="signup-link">הרשמה</a></li>
        </ul>
        <img src="/static/Logos/footerChess.png" alt="Bot" class="icon">
        <p>&copy; 2025 זכויות יוצרים</p>
    </footer>
    
    
    

    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/vue_home.js') }}" defer></script>
</body>
</html>
